* {
  margin: 0;
  padding: 0;
}

body {
  color: #999;
  font-family: "PT Sans", Calibri, Helvetica, Arial, sans-serif;
  /* height: 100%; */
  background-color: #107abb;
  /* font-weight: 400;
	font-size: 20px; */
  color: #1e3c4d;
}

.trello {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  width: 900px;

  align-items: flex-start;

  position: relative;
}

.list-block {
  width: 250px;
  background-color: #dee2e5;
  margin: 0 5px;
  border-radius: 5px;
  padding: 10px;
}

.list-item {
  position: relative;
  list-style-type: none;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  user-select: none;
  overflow-wrap: break-word;
  border-radius: 5px;
  cursor: grab;
  /* width: 230px; */

  -webkit-box-shadow: 4px 4px 6px 0px rgba(34, 60, 80, 0.11);
  -moz-box-shadow: 4px 4px 6px 0px rgba(34, 60, 80, 0.11);
  box-shadow: 4px 4px 6px 0px rgba(34, 60, 80, 0.11);

  box-sizing: border-box;
}

.list-item:hover .btn-del {
  display: block;
  background-color: #ffffff;
  user-select: none;
}

.btn-del {
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 100;
  width: 15px;
  height: 15px;
  display: none;
  cursor: pointer;
  border-radius: 5px;
} 

.selected {
  background-color: gray;
}

.addRec {
  color: #798c97;
  cursor: pointer;
  user-select: none;
}

.formAddRec {


}

textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 60px;
  min-height: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.form-btn-submit {
  padding: 4px 8px;
}

.form-btn-cancel {
  padding: 4px 8px;
}