* {
  margin: 0;
  padding: 0;
}

body {
  color: #999;
  font-family: "PT Sans", Calibri, Helvetica, Arial, sans-serif;
  /* height: 100%; */
  background-color: blue;
  /* font-weight: 400;
	font-size: 20px; */
}

.trello {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  width: 900px;
}